In [1]:
#Import the dependencies
import pandas as pd
import gmaps
import requests
from config import g_key

In [2]:
# Store the CSV saved into dataframe
city_data_df=pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bredasdorp,ZA,2021-10-23 16:05:32,-34.5322,20.0403,57.27,56,86,14.14
1,1,Mana,GF,2021-10-23 16:07:57,5.6592,-53.7767,82.63,80,100,5.88
2,2,Qaanaaq,GL,2021-10-23 16:06:40,77.4840,-69.3632,-1.32,59,0,8.30
3,3,Saint-Francois,FR,2021-10-23 16:07:58,46.4154,3.9054,54.84,58,0,3.44
4,4,Butembo,CD,2021-10-23 16:07:58,0.1500,29.2833,61.56,90,95,2.55

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
#Get the maximum temperature
max_temp=city_data_df["Max Temp"]
temps=[]
for temp in max_temp:
    temps.append(max(temp,0))

In [6]:
# Heatmap of tepmeratures
#Get the lat and lng
locations=city_data_df[["Lat","Lng"]]
#Get the maximum temperature
max_temp= city_data_df["Max Temp"]
#Assign the figure variable
fig= gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#Assign the heatmaps variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False,max_intensity=300, point_radius=4)
#Add the heatmap layer
fig.add_layer(heat_layer)
#call the fig
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#Heatmap of percentage humidity
locations=city_data_df[["Lat","Lng"]]
humidity=city_data_df["Humidity"]
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=humidity,dissipating= False,point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#Heatmap of cloudiness
locations=city_data_df[["Lat","Lng"]]
clouds=city_data_df["Cloudiness"]
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=clouds,dissipating= False,point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#Heatmap of Wind Speeds
locations=city_data_df[["Lat","Lng"]]
wind=city_data_df["Wind Speed"]
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=wind,dissipating= False,point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#ASk the customer to add a minimum and maximum temperature value
min_temp=float(input("What is the minimum temperature you would like for your trip? "))
max_temp=float(input("What is the maximum temperature you would like for your trip?  "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip?  90

In [11]:
#Filter the data set for max and min temperatures
preferred_cities_df=city_data_df.loc[(city_data_df["Max Temp"]<=max_temp)&(city_data_df["Max Temp"]>=min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Mana,GF,2021-10-23 16:07:57,5.6592,-53.7767,82.63,80,100,5.88
5,5,Saint-Philippe,RE,2021-10-23 16:06:30,-21.3585,55.7679,76.59,82,74,11.70
11,11,Mogadishu,SO,2021-10-23 16:05:19,2.0371,45.3438,80.20,81,10,9.95
15,15,Chimoio,MZ,2021-10-23 16:08:01,-19.1164,33.4833,87.49,29,38,8.12
16,16,Pombas,CV,2021-10-23 16:08:02,17.1503,-25.0201,82.18,71,0,14.03
20,20,Rehoboth,NaN,2021-10-23 16:08:04,-23.3167,17.0833,77.70,7,0,16.06
21,21,Harper,LR,2021-10-23 16:08:04,4.3750,-7.7169,79.38,84,100,8.32
22,22,Dabakala,CI,2021-10-23 16:08:05,8.3667,-4.4333,85.37,63,100,3.78
25,25,San Ignacio,BZ,2021-10-23 16:08:06,17.1561,-89.0714,86.14,70,75,3.44
31,31,Manaure,CO,2021-10-23 16:08:08,11.7751,-72.4445,89.87,56,30,19.86

In [12]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       2
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [13]:
preferred_cities_df.count()

City_ID       206
City          206
Country       204
Date          206
Lat           206
Lng           206
Max Temp      206
Humidity      206
Cloudiness    206
Wind Speed    206
dtype: int64

In [14]:
#Creat DataFrame called hotel_df to store hotel data
hotel_df=preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]].copy()
hotel_df["Hotel Name"]=""
hotel_df.head(10)

              City Country  Max Temp      Lat      Lng Hotel Name
1             Mana      GF     82.63   5.6592 -53.7767
5   Saint-Philippe      RE     76.59 -21.3585  55.7679
11       Mogadishu      SO     80.20   2.0371  45.3438
15         Chimoio      MZ     87.49 -19.1164  33.4833
16          Pombas      CV     82.18  17.1503 -25.0201
20        Rehoboth     NaN     77.70 -23.3167  17.0833
21          Harper      LR     79.38   4.3750  -7.7169
22        Dabakala      CI     85.37   8.3667  -4.4333
25     San Ignacio      BZ     86.14  17.1561 -89.0714
31         Manaure      CO     89.87  11.7751 -72.4445

In [33]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type":"lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Mana,GF,82.63,5.6592,-53.7767,LE SAMANA
5,Saint-Philippe,RE,76.59,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
11,Mogadishu,SO,80.20,2.0371,45.3438,Hotel Juba
15,Chimoio,MZ,87.49,-19.1164,33.4833,Predio Livraria Ahmed
16,Pombas,CV,82.18,17.1503,-25.0201,Paul Paradis
20,Rehoboth,NaN,77.70,-23.3167,17.0833,Noble Luminous Accommodation
21,Harper,LR,79.38,4.3750,-7.7169,Screensaver
22,Dabakala,CI,85.37,8.3667,-4.4333,Hôtel Campement
25,San Ignacio,BZ,86.14,17.1561,-89.0714,Rainforest Haven Inn
31,Manaure,CO,89.87,11.7751,-72.4445,Hotel Palaaima

In [35]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.0)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer=gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

In [38]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [39]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.0)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))