In [25]:
#Import the dependencies
import pandas as pd
import gmaps
import requests
from config import g_key

In [26]:
# Store the CSV saved into dataframe
city_data_df=pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cape Town,ZA,2021-10-21 00:57:04,-33.9258,18.4232,62.11,71,0,3.00
1,1,Moose Factory,CA,2021-10-21 00:58:26,51.2585,-80.6094,37.40,65,90,6.91
2,2,Ostrovnoy,RU,2021-10-21 00:58:26,68.0531,39.5131,31.73,73,100,18.12
3,3,Kruisfontein,ZA,2021-10-21 00:58:27,-34.0033,24.7314,61.83,61,100,2.53
4,4,Punta Arenas,CL,2021-10-21 00:55:10,-53.1500,-70.9167,44.71,61,20,11.50

In [27]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [28]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [29]:
#Get the maximum temperature
max_temp=city_data_df["Max Temp"]
temps=[]
for temp in max_temp:
    temps.append(max(temp,0))

In [30]:
# Heatmap of tepmeratures
#Get the lat and lng
locations=city_data_df[["Lat","Lng"]]
#Get the maximum temperature
max_temp= city_data_df["Max Temp"]
#Assign the figure variable
fig= gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#Assign the heatmaps variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False,max_intensity=300, point_radius=4)
#Add the heatmap layer
fig.add_layer(heat_layer)
#call the fig
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
#Heatmap of percentage humidity
locations=city_data_df[["Lat","Lng"]]
humidity=city_data_df["Humidity"]
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=humidity,dissipating= False,point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
#Heatmap of cloudiness
locations=city_data_df[["Lat","Lng"]]
clouds=city_data_df["Cloudiness"]
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=clouds,dissipating= False,point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
#Heatmap of Wind Speeds
locations=city_data_df[["Lat","Lng"]]
wind=city_data_df["Wind Speed"]
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=wind,dissipating= False,point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
#ASk the customer to add a minimum and maximum temperature value
min_temp=float(input("What is the minimum temperature you would like for your trip? "))
max_temp=float(input("What is the maximum temperature you would like for your trip?  "))

What is the minimum temperature you would like for your trip?

ValueError: could not convert string to float:

In [35]:
#Filter the data set for max and min temperatures
preferred_cities_df=city_data_df.loc[(city_data_df["Max Temp"]<=max_temp)&(city_data_df["Max Temp"]>=min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Marsh Harbour,BS,2021-10-21 00:58:29,26.5412,-77.0636,80.20,56,92,15.50
10,10,Veraval,IN,2021-10-21 00:58:29,20.9000,70.3667,76.01,70,84,8.32
11,11,Carutapera,BR,2021-10-21 00:58:30,-1.1950,-46.0200,78.67,81,14,6.58
13,13,Paracuru,BR,2021-10-21 00:58:31,-3.4100,-39.0306,81.10,80,100,8.10
16,16,Gorom-Gorom,BF,2021-10-21 00:58:32,14.4439,-0.2361,88.16,34,100,4.54
17,17,Dingle,PH,2021-10-21 00:58:32,10.9995,122.6711,83.30,80,89,6.67
21,21,Trairi,BR,2021-10-21 00:55:55,-3.2778,-39.2689,79.43,80,100,6.53
30,30,Biltine,TD,2021-10-21 00:58:38,14.5333,20.9167,85.19,19,96,12.30
35,35,Hobyo,SO,2021-10-21 00:58:39,5.3505,48.5268,78.37,79,54,12.57
36,36,Bengkulu,ID,2021-10-21 00:58:40,-3.8004,102.2655,78.21,82,21,2.30

In [36]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [37]:
preferred_cities_df.count()

City_ID       129
City          129
Country       129
Date          129
Lat           129
Lng           129
Max Temp      129
Humidity      129
Cloudiness    129
Wind Speed    129
dtype: int64

In [38]:
#Creat DataFrame called hotel_df to store hotel data
hotel_df=preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]].copy()
hotel_df["Hotel Name"]=""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
8   Marsh Harbour      BS     80.20  26.5412  -77.0636
10        Veraval      IN     76.01  20.9000   70.3667
11     Carutapera      BR     78.67  -1.1950  -46.0200
13       Paracuru      BR     81.10  -3.4100  -39.0306
16    Gorom-Gorom      BF     88.16  14.4439   -0.2361
17         Dingle      PH     83.30  10.9995  122.6711
21         Trairi      BR     79.43  -3.2778  -39.2689
30        Biltine      TD     85.19  14.5333   20.9167
35          Hobyo      SO     78.37   5.3505   48.5268
36       Bengkulu      ID     78.21  -3.8004  102.2655

In [39]:
#Set Parameters
params={
    "radius": 5000,
    "type":"lodging",
    "key": g_key
}

#Iterate Through the dataFrame
for index, row in hotel_df.iterrows():
    #Get lat and lng
    lat=row["Lat"]
    lng=row["Lng"]
#Add the latitude and longitude to location key for the params dictionary.
    params["location"]=f"{lat},{lng}"
# Use the search term: "lodging" and our latitude and longitude.
base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except(IndexError):
    print("Hotel not found....skipping")

In [40]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.0)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer=gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

In [43]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [44]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.0)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))